<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO app</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

</head>
<body>

<div class="ui container">
    <h1 style="margin-top: 50px" class="ui center aligned header">TODO app</h1>
        
    <form class="ui form" action="/add" method="POST">
        <label for="title"></label><input type="text" id="title" name="title" placeholder="What I need TODO">
        <button class="fluid ui blue button" type="submit">Add</button>
    </form>

    <div class="ui horizontal divider">
        Things I need TODO
    </div>

    
    {% for todo in todo_list %}
    <div class="ui grey segment">
        <p class="ui big header"> [{{todo.id}}] {{todo.title}} </p>
        <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
        <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
        {% if todo.complete == False %}
            <a class="ui red right tag label">Not Complete</a>
        {% else %}
            <a class="ui green right tag label">Complete</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
</body>
</html>