<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO app</title>
</head>
<body>

    <h1>TODO app</h1>
        
    <form action="/add" method="POST">
        <label for="title">TODO</label><input type="text" id="title" name="title" placeholder="What I need TODO"><button type="submit">Add</button>
    </form>

    {% for todo in todo_list %}
        <p> {{todo.id}} | {{todo.title}} </p>
        {% if todo.complete == False %}
            <span>Not Complete</span>
        {% else %}
            <span>Complete</span>
        {% endif %}
        <a href="/update/{{ todo.id }}">Update</a>
        <a href="/">Delete</a>
    {% endfor %}

</body>
</html>